[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "rm -rf outlook-addin/src server/src web/src web/*.ts web/tests",
  "npm run build"
]

[start]
cmd = "npm run start"
